### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
file_path = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

## Player Count

* Display the total number of players

In [4]:
# calculate total players
players_data = purchase_data.loc[:,["SN","Age","Gender"]]
player_info = players_data.drop_duplicates()
player_count = player_info.count()[0]
player_count_df = pd.DataFrame([player_count])
total_players_df=player_count_df.rename(columns={"0":"Total Players"})
total_players_df

     0
0  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# calculate unique items purchase
items_count = len(purchase_data["Item ID"].unique())
# calculate average price of unique items
average_price = purchase_data["Price"].mean()
# calculate number of purchases
total_purchases = purchase_data["Item Name"].count()
# calculate total revenue
total_revenue = purchase_data["Price"].sum()

# create a dataframe to display calculations
purchases_analysis = pd.DataFrame({"Number of Unique Items": [items_count],
                                  "Average Price": [f"${average_price:.2f}"],
                                  "Number of Purchases": [total_purchases],
                                  "Total Revenue": [f"${total_revenue:,.2f}"]
                                  })
purchases_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
# count totals of each gender
gender_totals = player_info["Gender"].value_counts()

# calculate percentage of each gender in total players
gender_perc = (gender_totals/player_count)*100

# create df showing both gender totals and percentages
genders_df = pd.DataFrame({"Total Count":gender_totals,
                          "Percentage of Players":gender_perc.map("{:.2f}%".format)})
genders_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

"""
group_df=df.groupby(["Gender"])
avg_purchase=(group_df["Price"].mean()).map("${:,.2f}".format)
purchase_count=group_df["SN"].count()
total_purchase=(group_df["Price"].sum()).map("${:,.2f}".format)
avg_person=((group_df["Price"].sum())/gender_dem).map("${:,.2f}".format)
dict1={"Purchase Count": purchase_count,
                       "Average Purchase Price": avg_purchase,
                       "Total Purchase" :total_purchase,
                       "Avg Total Purchase Per Person": avg_person}
dict1
report_1=pd.DataFrame(dict1)
report_1"""


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
# group original dataframe by gender, need information for all purchases
gender_anal=purchase_data.groupby("Gender")

# find purchase count for each gender
gender_purchase_count = gender_anal["SN"].count()
# find average purchase price
gender_avg_price = gender_anal["Price"].mean()
# find total purchase value
gender_total_price = gender_anal["Price"].sum()
# find average total purchase per person
gender_avg_total = gender_anal["Price"].sum()/gender_totals

# create a dataframe to display information found
gender_analysis_df = pd.DataFrame({"Purchase Count": gender_purchase_count.map,
                                  "Average Purchase Price": gender_avg_price,
                                  "Total Purchase Value": gender_total_price,
                                  "Avg Total Purchase per Person": gender_avg_total})
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,<bound method Series.map of Gender\nFemale ...,3.203009,361.94,4.468395
Male,<bound method Series.map of Gender\nFemale ...,3.017853,1967.64,4.065372
Other / Non-Disclosed,<bound method Series.map of Gender\nFemale ...,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# find min and max age
print(purchase_data["Age"].min()) # 7
print(purchase_data["Age"].max()) # 45
# group by age
player_age = purchase_data.groupby("Age")
# create groups and labels for age
age_bins = [0,10,14,19,24,29,34,39,100]
age_groups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
# cut data using bins
age_demo = pd.cut(purchase_data["Age"], age_bins, labels=age_groups).head()
age_df =pd.DataFrame([age_demo])
age_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# group by item ID
popular_df=purchase_data[["Item ID","Item Name", "Price"]]
popular_df=popular_df.groupby(["Item ID"])
popular_df

# add column for total purchase value
# popular_df("Total Purchase Value")=purchase_count*price

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame